/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.has-bio,
.not-bio {
  font-size: 0.9rem !important;
  font-weight: 200 !important;
}
.has-bio {
  // color: whitesmoke;
  color: darkcyan;
}
.not-bio {
  color: palevioletred;
}
